<div ng-controller='BlogController as vm'>
  <div>
    <md-content class="md-padding" >
      <div   layout="row" layout-wrap>
        <md-card  flex="35" layout-wrap >
          <!-- <img ng-src="{{s.photo}}" class="md-card-image" alt="{{s.familyName}}" title="{{s.familyName}}"> -->
          <md-card-content flex="100" layout-wrap>
            <div flex="30" layout-wrap>
                <!-- <h2 class="md-title">{{s.familyName}}</h2> -->
            </div>
              <div  >
                <h1>One Blog</h1>
                <md-content layout-padding>
                  <h1>{{vm.oneBlog.title}}</h1>
                  <h3>{{vm.oneBlog.subject}}</h3>
                  <p>{{vm.oneBlog.body}}</p>
                  <h5>{{vm.oneBlog.created}}</h5>
                  <h4>{{vm.oneBlog.createdBy}}</h4>
                </md-content>
              </div>

          <div class="md-actions" layout="row" layout-align="end center">
            <!-- <md-button ui-sref="Family({id: s._id})">View More</md-button> -->
        </div>
          </md-card-content>
        </md-card>
      </div>
      <br/>
    </md-content>
  </div>
</div>
