<div ng-controller='ProfileController as vm'>
  <h1 style="text-align:center">User Profile</h1>
  <hr>
  <div layout="row">
    <md-input-container>
      <md-button  ui-sref='AddBlog' >Add A Blog</md-button>
    </md-input-container>
    <md-input-container>
       <md-button ui-sref='EditProfile({id: p._id})' >Edit Profile</md-button>
    </md-input-container>
  </div>

  <div >
    <h1 style="padding-top:30px">{{vm.profile.name}}</h1>
    <img src="{{vm.profile.photo}}" alt='{{vm.profile.name}}'/>
    <h4>{{vm.profile.location}}</h4>
    <h4>{{vm.profile.bio}}</h4>
    <h4>{{vm.profile.statevisit}}</h4>
  </div>











</div> <!-- End of controller  -->
